body {
    height: 100vw;
    font-family: sans-serif;
    font-size: small;
    margin: 0px;    
}

input, label {
    display: block;
}

label {
    font-size: x-small;
    padding-top: 3px;
    padding-bottom: 3px;
}

input {
    margin-bottom: 10px;
    border-radius: 3px;
    border: solid grey 1px;
    background-color: rgb(250, 247, 247);
}

button {
    background-color: rgb(8, 66, 8);
    color: white;
    border: solid rgb(8, 66, 8) 1px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 2px 2px rgb(231, 230, 230);
    cursor: pointer;
}

a {
    color: rgb(8, 66, 8);
    font-weight: bold;
    text-decoration: none;
}

/* input:invalid {
    border: solid red 1px;
} */


.container {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    /* padding-left: 5%; */
    flex-grow: 2; 
    background-color: rgb(244, 244, 244);
}

.form-content {
    display: flex;
}

.form-col {
    padding-right: 5px;
    flex: 1;
    flex-direction: column;
}

.error {
    border: solid red 1px;
}

/* form {
    box-shadow: 3px 3px 2px rgb(178, 177, 177);
} */


.header {
    flex-grow: 1;
    padding: 15px;
}

.sign-up-form {
    flex-grow: 1;
    padding-left: 15px;
    background-color: white;
    box-shadow: 3px 3px 2px rgb(190, 190, 190);
}

.footer {
    flex-grow: 1;
    padding: 15px;
}


.side-bar {
    display: flex;
    position: relative;
    padding: 0;
    justify-content: center;
}

.image-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    background-color: rgba(164, 164, 164, 0.2);
    width: 100%;

}

.odin-icon {
    width: 70px;
}

.odin-logo {
    color: white;
    font-size: large;
}

.caption {
    position: absolute;
    bottom: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-size: smaller;
}

/* div {
    border: solid blue 1px;
} */